<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">World's Most Exotic Place for Tourism</div>
      <div class="intro-heading">WELCOME TO CHERNOBYL</div>
      <a href="/order" class="page-scroll btn btn-xl" translate="HEADER_BUTTON"></a>
    </div>
  </div>
</header>
<div my-customer></div>
<section class="section-md bg-gray-lighter">
  <div class="shell">
    <div class="range range-sm-center range-30 range-sm-50">
      <div class="cell-sm-11 cell-md-10 cell-lg-6">
        <h4 class="heading-decorated" translate="HOME_MAIN_TITLE"></h4>
        <p class="q" style="font-size: 18px;">{{ 'HOME_MAIN_TEXT' | translate }}</p><a class="button button-primary" href="/pricing" translate="PRICING"></a>
      </div>
      <div class="cell-sm-11 cell-md-10 cell-lg-6"><img src="http://www.un.org/News/dh/photos/large/2016/April/04-27-2016ChernobylPlant.jpg" alt="" width="652" height="491">
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="shell-fluid shell-flex">
    <div class="range range-condensed">
      <div class="cell-xs-6 cell-md-4 cell-lg-3">
        <div class="thumb-creative">
          <div class="thumb-creative__inner">
            <div class="thumb-creative__back">
              <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="img/entrance-to-the-Chernobyl.jpg" alt="" width="480" height="361">
              </figure>
              <div class="thumb-creative__content">
                <h6 class="thumb-creative__title" translate="GALLERY_ENTRANCE"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-6 cell-md-4 cell-lg-3">
        <div class="thumb-creative">
          <div class="thumb-creative__inner">
            <div class="thumb-creative__back">
              <figure class="thumb-creative__image-wrap"><img src="img/duga-radar.jpg" alt="" width="480" height="361">
              </figure>
              <div class="thumb-creative__content">
                <h6 class="thumb-creative__title" translate="GALLERY_DUGARADAR"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-6 cell-md-4 cell-lg-3">
        <div class="thumb-creative">
          <div class="thumb-creative__inner">
            <div class="thumb-creative__back">
              <figure class="thumb-creative__image-wrap"><img class="thumb-creative__image" src="/img/The-New-Safe-Confinement.jpg" alt="" width="480" height="361">
              </figure>
              <div class="thumb-creative__content">
                <h6 class="thumb-creative__title" translate="GALLERY_THENEWSAFECONFINEMENT"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-6 cell-md-4 cell-lg-3">
        <div class="thumb-creative">
          <div class="thumb-creative__inner">
            <div class="thumb-creative__back">
              <figure class="thumb-creative__image-wrap"><img src="/img/abandoned-living-blocks.jpg" alt="" width="480" height="361">
              </figure>
              <div class="thumb-creative__content">
                <h6 class="thumb-creative__title" translate="GALLERY_ABANDONEDLIVINGBLOCKS"></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section-md bg-white">
  <div class="shell">
    <div class="range range-50">
      <div class="cell-sm-12">
        <div class="quote-default quote-default_left">
          <h4 class="heading-decorated" translate="MAIN_SAFE"></h4>
          <div class="quote-default__image"><img src="/img/600px-Radiation_warning_symbol_2.svg.png" alt="" width="120" height="120">
          </div>
          <div class="quote-default__text">
            <p class="q" translate="MAIN_SAFE_TEXT"></p>
          </div>
          <p class="quote-default__cite" style="cursor:pointer; text-decoration: underline;" onclick="window.open('https://en.wikipedia.org/wiki/Chernobyl_disaster#Radiation_levels','_blank');" rel="nofollow">Wikipedia</p>
        </div>
      </div>

    </div>
  </div>
</section>
  <section class="section-md bg-primary text-center" style="padding: 20px;">
        <div class="shell">
          <div class="range range-sm-center">
            <div class="cell-sm-11 cell-md-9 cell-lg-8">
              <a class="button button-primary" href="/order">Start your journey now!</a>
            </div>
          </div>
        </div>
      </section>
</body>